{% extends "@emails/layout.twig" %}

{% block subject %}
	Export has been completed
{% endblock %}

{% block content %}
	<div>
		<p>
			Your export has been completed and is attached to this email.
		</p>
	</div>
{% endblock %}
