<a href="{{ link ?? '#' }}"
  class="inline-flex items-center gap-1 text-sm text-content-dimmed hover:text-content">
  <i class="text-lg ti ti-{{ icon ?? 'square-rounded-arrow-left-filled' }}"></i>
  {{ label is defined ? label : p__('button', 'Back') }}
</a>